<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

LoadModule expires_module modules/mod_expires.so
ExpiresActive On
ExpiresByType text/css "now plus 5 minutes"
ExpiresByType text/js "now plus 5 minutes"
ExpiresByType image/jpeg "now plus 5 minutes"
ExpiresByType image/png "now plus 5 minutes"
# For glyphicon fonts, unknown effect
ExpiresByType application/octet-stream "now plus 5 minutes"
