body {
    overflow-y: scroll;
    // font: 16px Lato, 14px Microsoft Yahei, sans-serif !important;
    // font-size: 16px !important;
}

textarea {
    resize: none;
}

code {
    /* github gist style */
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

ul.nav-tabs li button {
    margin: 0 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:last-child {
        margin-right: 0;
    }
}

.input-xs {
    height: 22px;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.nav-tabs > li > a {
    padding: 6px 15px !important;
}

.sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.form-group-sm .help-block {
    margin-bottom: 5px;
    font-size: 85%;
}

.help-block.help-block-inline {
    display: inline;
}

.alert-fluid {
    margin-top: -23px !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 19px !important;
    line-height: 30px !important;

    .close {
        top: 3px !important;
        right: 0 !important;
    }
}

.avatar {
    float: left;

    > img {
        border-radius: 3px;
    }
}
$avatar: (sm, 32, -6, 0, 9), (md, 48, 0, 0, 0), (lg, 64, 0, 0, 15), (xl, 128, 0, 15, 0);
@each $label, $size, $mt, $ml, $mr in $avatar {
    .avatar-#{$label} {
        width: $size * 1px;
        height: $size * 1px;
        margin-top: $mt * 1px;
        margin-right: $mr * 1px;
        margin-left: $ml * 1px;

        > img {
            max-width: $size * 1px;
            max-height: $size * 1px;
        }

        + .panel {
            margin-left: ($size + 9) * 1px;
        }
    }
}
@for $i from 1 through 6 {
    .toc-#{$i} {
        margin-left: 30px * ($i - 1);
    }
}

.markdown > *:last-child {
    margin-bottom: 0 !important;
}
    
#markdown img, .markdown img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.link-initial {
    color: inherit;
    text-decoration: inherit;
}
// codeforces
.rated-user {
    margin-bottom: 0;
}

.problem-status {
    padding-top: 9px;
    padding-bottom: 9px;

    h5 {
        margin-top: 0;
        margin-bottom: 6px;
    }
}

.text-inline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
