.sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.form-group-sm .help-block {
    font-size: 85%;
    margin-bottom: 5px;
}

.alert-fluid {
    margin-top: -23px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 19px;
    line-height: 30px;

    .close {
        top: 3px;
        right: 0;
    }
}
